
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
       {% for image in all_image %}
       <a href=""data-bs-target='#data{{image.id}}'  data-bs-toggle="modal">
        <img class="m-2"style = "width:32%; height:32%;" src="{{image.image.url}}" alt="Image">
       </a>
       <div class="modal fade"id="data{{image.id}}" tabindex="-1">
           <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   <img style="width:100%;"src="{{image.image.url}}" alt="">
                               <h1>Name:{{image.name}}</h1>
                               <h3>Category:{{image.category}}</h3>
                               <h3>Location:{{image.location}}</h3>
                               <p>Description:{{image.description}}</p>
               </div>
               <div class="modal-footer">
                <input type="submit" onClick="Link(this.id)" id="{{image.image.url}}" class="btn btn-success" value="Copy">
               <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
               </div>
           </div>
           </div>
       </div>

     <script>function Link(text){navigator.clipboard.writeText(text)}</script>
      {% endfor%}
  
</div>
{% endblock %}