<footer class="bg-dark mt-4">
    <p class="text-light text-center pt-2">Copyright barbra @2022</p>
    <div class="text-center p-3">
        <p class="text-light font-italic font-weight-bold">Get in touch</p>
        <a href="facebook.com" target="_blank"> <i class="fab fa-facebook-square text-white"></i></a>
        <a href="gmail.com" target="_blank"> <i class="far fa-envelope-square text-white"></i>
        </a>
        <a href="linkedIn.com" target="_blank"> <i class="fab fa-linkedin text-white"></i></a>
    </div>
</footer>